modLoader = "javafml"
loaderVersion = "*"
issueTrackerURL = "https://github.com/ThePandaOliver/PandaLib/issues"
license = "${mod_license}"

[[mods]]
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
authors = "${mod_authors_forge}"
description = "${mod_description}"
logoFile = "assets/${mod_id}/icon.png"

[[dependencies."${mod_id}"]]
modId = "forge"
mandatory = true
versionRange = "*"
ordering = "NONE"
side = "BOTH"

[[dependencies."${mod_id}"]]
modId = "minecraft"
mandatory = true
versionRange = "${minecraft_version}"
ordering = "NONE"
side = "BOTH"

[[dependencies."${mod_id}"]]
modId = "pandalib"
mandatory = true
versionRange = "*"
ordering = "NONE"
side = "BOTH"